body {
    background-color: #32a6c4;
    font-family: 'Work Sans', sans-serif;
    margin: 0px;
}

header {
    padding: 4px;
    align-content: center;
    /*background-color: darkcyan;*/
}


.loginComponent {
    color: #222;
    background-color: #72bbce;
    align-self: center;
    width: 34%;
    margin-left: 33%;
    margin-top: 30px;
    border: 2px solid #222;
}

@media only screen and (max-width: 500px) {
    .loginComponent {
        width: 100%;
        margin-left: 0px;
        margin-top: 30px;
    }
}

.loginTop {
    height: 40px;
    text-align: center;
    font-size: xx-large;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    background-color: #222;
}

.loginSelected {
    background-color: #72bbce;
    border-radius:20px 20px 0px 0px;
    width: 50%;
}

.loginUnselected {
    background-color: #32a6c4;
    border-radius:20px 20px 0px 0px;
    width: 50%;
    border-bottom: 2px solid #222;
}

.LBorder {
    border-left: 2px solid #222;
}

.RBorder {
    border-right: 2px solid #222;
}

.loginArea {
    display: flex;
    flex-direction: column;
    align-content: center;
}

.loginSection {
    width: 70%;
    margin: 10px;
    align-self: center;
    display: flex;
    flex-direction: column;
}

.loginButton{
    font-size: large;
}

.forgotPassword {
    display: flex;
    flex-direction: row;
}

.coolTextBox {
    width: 100%;
    font-size: larger;
}

input[type=text]:focus {
    outline: none;
}

header {
    width: 100%;
    height: 45px;
    background-color: #263e45;
    font-size: 40px;

    display: flex;
    align-items: stretch;
    justify-content: space-between;
    flex-direction: row;
}

.headText {
    display: flex;
    align-items: stretch;
    flex-direction: row;
    color: #808ec4;
}

.headTextHighlight {
    color: #bbdefd;
}