
body {
    background-color: lightblue;
    font-family: 'Work Sans', sans-serif;
}

header {
    padding: 4px;
    align-content: center;
    background-color: darkcyan;
    border-radius: 15px;
}

div{
    margin: 15px;
}
.aboutUs{
    margin:auto;
    text-align: center;
    font-size: 24px;
}

.homeHeader{
    margin:auto;
    width: 450px;
}

.pageHeader{
    width: 300px;
    margin: auto;
    text-align: center;
    font-size: 35px;
}

.homePageLogin2{
    width: 450px;
}
.headTitle{
    margin: 5px;
    background-color: greenyellow;
    }

.loginArea{
    margin: 5px;
    display: block;
}

.passwordArea{
    display: block;
    margin: auto;
    margin-bottom: 45px;
    margin-top: 10px;
    width: 200px;
}

.emailArea{
    display: block;
    margin: auto;
    margin-bottom: 30px;
    margin-top: 10px;
    width: 200px;
}

.login_create{
    display: block;
    margin: auto;
    margin-bottom: 20px;
}

.accountBtn{
    display: block;
    margin:auto;
}

.nameArea{
    margin: 5px;
    display: block;
}

.headTitle h3{
    margin: 0 0 0 5px;
}

.headTitle h5{
    margin: 0 10px 10px 5px;
}

.headTitleText {
    font-size: 30px;
    background-color: darkcyan;
    width: 525px;
    margin: auto;
}

.headNavBar {
    font-size: 15px;
    text-align: left;
    overflow: auto;
    display: inline-block;

}

.navLink {
    display: inline-block;
    padding: 5px;
    margin: 10px;
    font-size: 22px;
    text-decoration: none;
}

.headLogin {
    display: inline-block;
    padding: 5px;
    margin: 10px;
    float:right;
    font-size: 22px;
    text-decoration: none;
    }

.headLogout {
    margin: 7px 0 0 0;
    float:right;
    padding: 5px;
    background-color: #d55;
    border: solid red 2px;
}

.navLink:hover{
    color:pink;
}

.headLogin:hover{
    color:pink;
}