
body {
    background-color: lightblue;
    font-family: 'Work Sans', sans-serif;
}

header {
    padding: 4px;
    align-content: center;
    background-color: darkcyan;
    border-radius: 15px;
}

.headTitle{
    margin: 5px;
    }

.loginArea{
    margin: 5px;
    display: block;
}

.passwordArea{
    margin: 20px;
    display: block;
    align-items: center
}

.emailArea{
    margin: 20px;
    display: block;
}

.login_create{
    display: block;
    margin: 0 0 0 10px;
}

.accountBtn{
    margin: 5px 0 0 10px;
    display: block;
}

.nameArea{
    margin: 5px;
    display: block;
}

.headTitle h3{
    margin: 0 0 0 5px;
}

.headTitle h5{
    margin: 0 10px 10px 5px;
}

.headTitleText {
    font-size: 30px;
    background-color: darkcyan;
    width: 525px;
    margin: auto;
}

.headLogin {
    margin: 7px 0 0 0;
    float:right;
    padding: 5px;
}

.headLogout {
    margin: 7px 0 0 0;
    float:right;
    padding: 5px;
    background-color: #d55;
    border: solid red 2px;
}

.headNavBar {
    font-size: 15px;
    text-align: left;
    overflow: auto;
    display: inline-block;

}

.navLink {
    display: inline-block;
    padding: 5px;
    margin: 10px;
    text-decoration: underline ;
}

